*{
    margin: 0;
    padding: 0;
}

:root{
    font-family: 'alice', serif;
    line-height: 150%;
    color: #573A37;
}

body{
    background-image: url(/assets/Página\ de\ receita.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

#page{
    box-sizing: border-box; /*retira o padrão de caixa*/
    width: 800px;
    padding: 24px;
    background-color: #F0E8C2;
    border-radius: 24px;
    margin: 48px auto;
}

main{
    padding: 24px;
}

section + section{
    margin-top: 24px;
}

#about p + p{
    margin-top: 12px;
}

h1{
    font-size: 40px;
    line-height: 140%;
    margin-bottom: 4px;
}

h1,h2{
    font-size: 24px;
     color: #291B1A;
     margin-bottom: 4px;
     line-height: 150%;
}

ul{
    padding: 26px;
}